/* Reset */
html, body, h1, h2, h3, ul, ol, li, p, form, header, footer, section, aside {
  margin : 0;
  padding : 0;
}
body {font: normal .75em/1.2 Arial;}
label {width: 150px; float: left; margin-top: 3px; margin-right: 10px; text-align: right; font-weight: bold;}
label.labelvert {width: auto; text-align: left;}
p {clear: both;}

input[type="text"], textarea {border: 1px solid #BBB}
input.inputText {width: 500px;}
textarea {width: 500px; height: 120px;}
span.example{font-style: italic; font-size: 10px;}

.authType {display:none;}

#resp {display:none;}
#postParamsContainer {display: none;}
#loader {display:none; height: 30px; padding-top: 50px; text-align: center; background: url(loader.gif) no-repeat center 5px;}
#responsePrint {display:none;}

#oauth2LoginFrame {width: 500px; height: 300px;}
